<div class="overlay" *ngIf="isVisible">
  <div class="floating-card">
    <button class="close-btn" (click)="close()">X</button>
    <div class="content" *ngIf="contentToShow === 1">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        venenatis sem sit amet urna placerat, in interdum lectus bibendum. Fusce
        fermentum erat sit amet ex dignissim venenatis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        venenatis sem sit amet urna placerat, in interdum lectus bibendum. Fusce
        fermentum erat sit amet ex dignissim venenatis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        venenatis sem sit amet urna placerat, in interdum lectus bibendum. Fusce
        fermentum erat sit amet ex dignissim venenatis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        venenatis sem sit amet urna placerat, in interdum lectus bibendum. Fusce
        fermentum erat sit amet ex dignissim venenatis.
      </p>
    </div>

    <div class="content" *ngIf="contentToShow === 2">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        venenatis sem sit amet urna placerat, in interdum lectus bibendum. Fusce
        fermentum erat sit amet ex dignissim venenatis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        venenatis sem sit amet urna placerat, in interdum lectus bibendum. Fusce
        fermentum erat sit amet ex dignissim venenatis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        venenatis sem sit amet urna placerat, in interdum lectus bibendum. Fusce
        fermentum erat sit amet ex dignissim venenatis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        venenatis sem sit amet urna placerat, in interdum lectus bibendum. Fusce
        fermentum erat sit amet ex dignissim venenatis.
      </p>
    </div>

  </div>
</div>
