body {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1500;
}

.floating-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66%;
  height: 66%;
  background-color: rgba(255, 255, 255, 0.249);
  border-radius: 50px;
  padding: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.mainDiv {
  height: 100%;
  overflow-y: auto; /* Activar scrollbar vertical */
  overflow-x: hidden; /* Activar scrollbar vertical */
  scrollbar-width: none;
  scrollbar-color: rgba(165, 157, 211, 0.5) transparent;
}

.mainDiv::-webkit-scrollbar {
  width: 8px;
}

.mainDiv::-webkit-scrollbar-thumb {
  background-color: rgba(165, 157, 211, 0.5);
  border-radius: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 5px;
  color: white;
  flex: 1;
  margin-right: 15px;
  margin-left: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.svg-scroll-wrapper {
  width: 100%; /* Abarca todo el contenedor */
  display: flex;
  justify-content: center; /* Centra el contenedor de SVGs */
}

.svg-container {
  display: flex;
  overflow-x: auto;
  width: 90%; /* Limita el ancho del área de scroll al 60% del contenedor */
  scrollbar-width: thin; /* Scrollbar minimalista */
  scrollbar-color: #888 transparent; /* Color del scrollbar */
}

/* Estilos para el scrollbar minimalista */
.svg-container::-webkit-scrollbar {
  height: 6px;
}

.svg-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.svg-container::-webkit-scrollbar-track {
  background-color: transparent;
}




.svg-card {
  display: flex;
}

.svg-card .card {
  flex-shrink: 0;
  width: 120px; /* Mantén las tarjetas cuadradas */
  height: 120px;
  background-color: rgba(255, 255, 255, 0.3); /* Fondo con transparencia */
  border-radius: 50%; /* Hacer los cards redondos */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.svg-card img {
  width: 80px; /* Ajustar tamaño de los íconos SVG */
  height: 80px;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.close-btn img {
  width: 24px; /* Ajusta el tamaño como prefieras */
  height: 24px;
}


.icon-img {
  width: 15px;
  height: 15px;
  max-width: 100%;
  max-height: 100%;
  margin-right: 10px; /* Añade espacio a la derecha de la imagen */
}
