<div class="content">
  <div class="overlay" *ngIf="isVisible">
    <div class="floating-card ">

      <div class="row">
        <div class="btn-group-left">
          <!-- alinear a la izq -->
          <button class="language-btn" (click)="changetoSp()">
            <img src="assets/mySVGs/spain-flag.svg" class="icon-img" alt="">
          </button>
          <!-- alinear a la izq -->
          <button class="language-btn" (click)="changetoEn()">
            <img src="assets/mySVGs/uk-flag.svg" class="icon-img" alt="">
          </button>
        </div>

        <!-- alinear a la derecha -->
         <div class="btn-group-right">
           <button class="close-btn" (click)="close()">
             <img src="assets/mySVGs/circle-xmark.svg" alt="">
           </button>
         </div>
      </div>


      <div class="mainDiv">

          <!-- Row 1 -->
          <div *ngIf="getTranslationKey('title')">
            <div class="row card">
              <div class="col d-flex align-items-center">
                <img src="assets/mySVGs/wrench.svg" alt="" class="icon-img">
                <h2>{{ getTranslationKey('title')  | translate }}</h2>
              </div>
            </div>
          </div>

          <!-- Posible scena#D -->
          <!-- <div class="row">
            <div class="card ">
              <img src="assets/mySVGs/nodejs01-svgrepo-com.svg" alt="Icono" />
            </div>
          </div> -->


          <!-- Row 4: Time section -->
          <div *ngIf="getTranslationKey('techTitle')">
            <div class="row card subtitle-card">
              <div class="col d-flex align-items-center">
                <img src="assets/mySVGs/cube.svg" alt="" class="icon-img">
                <h3>{{ getTranslationKey('techTitle')  | translate }}</h3>
              </div>
              <div *ngFor="let tech of (getTranslationKey('techtack') | translate)">
                <p>{{ tech }}</p>
              </div>
            </div>
          </div>

          <!-- Row 2: SVG Cards with horizontal scroll -->
          <div *ngIf="getTranslationKey('tech')">
            <div class="card">
              <div class="svg-scroll-wrapper">
                <div class="svg-container">
                  <div class="svg-card">
                    <div *ngFor="let tech of (getTranslationKey('tech') | translate)">
                      <img [src]="tech" alt="Tech Image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Row 3: Paragraph with scrollbar -->
          <div *ngIf="getTranslationKey('description')">
            <div class="row card ">
              <div class="col d-flex align-items-center" *ngIf="getTranslationKey('descTitle')">
                <img src="assets/mySVGs/cube.svg" alt="" class="icon-img">
                <h3>{{ getTranslationKey('descTitle')  | translate }} </h3>
              </div>
              <p>
                {{ getTranslationKey('description')  | translate }}
              </p>
            </div>
          </div>


          <div *ngIf="getTranslationKey('dutiesTitle')">
            <div class="row card ">
              <div class="col d-flex align-items-center">
                <img src="assets/mySVGs/cube.svg" alt="" class="icon-img">
                <h3>{{ getTranslationKey('dutiesTitle')  | translate }} </h3>
              </div>
              <div *ngFor="let dutie of (getTranslationKey('duties') | translate)">
                <p>{{ dutie }}</p>
              </div>
            </div>
          </div>

          <div *ngIf="getTranslationKey('methodologiesTitle')">
            <div class="row card ">
              <div class="col d-flex align-items-center">
                <img src="assets/mySVGs/cube.svg" alt="" class="icon-img">
                <h3>{{ getTranslationKey('methodologiesTitle')  | translate }} </h3>
              </div>
              <div *ngFor="let meth of (getTranslationKey('methodologies') | translate)">
                <p>{{ meth }}</p>
              </div>
            </div>
          </div>

          <div *ngIf="getTranslationKey('achievementTitle')">
            <div class="row card ">
              <div class="col d-flex align-items-center">
                <img src="assets/mySVGs/cube.svg" alt="" class="icon-img">
                <h3>{{ getTranslationKey('achievementTitle')  | translate }} </h3>
              </div>
              <div *ngFor="let tech of (getTranslationKey('achievements') | translate)">
                <p>{{ tech }}</p>
              </div>
            </div>
          </div>

          <!-- Row 2: SVG Cards with horizontal scroll -->
          <div *ngIf="getTranslationKey('images')">
            <div class="card">
              <div class="svg-scroll-wrapper">
                <div class="svg-container">
                  <div class="svg-card">
                    <div *ngFor="let imgObj of (getTranslationKey('images') | translate)">
                      <a [href]="imgObj" target="_blank">
                        <img [src]="imgObj" alt="Images">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="getTranslationKey('timeTitle')">
            <div class="row card subtitle-card">
              <img src="assets/mySVGs/cube.svg" alt="" class="icon-img">
              <h3>{{ getTranslationKey('timeTitle')  | translate }}</h3>
              <p>
                {{ getTranslationKey('time')  | translate }}
              </p>
            </div>
          </div>
          <!-- Row 4: Time section -->
          <div class="row">
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>


        </div>
      </div>

  </div>
</div>




<!-- <div class="content" *ngIf="contentToShow === 2">

  <img src="assets/mySVGs/nodejs01-svgrepo-com.svg" alt="Imagen" class="square-image" />

        ngFor="let svg of svgs"
        <div class="svg-card">
          <img src="assets/mySVGs/nodejs01-svgrepo-com.svg" alt="Icono" />
        </div>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
    venenatis sem sit amet urna placerat, in interdum lectus bibendum. Fusce
    fermentum erat sit amet ex dignissim venenatis.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
    venenatis sem sit amet urna placerat, in interdum lectus bibendum. Fusce
    fermentum erat sit amet ex dignissim venenatis.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
    venenatis sem sit amet urna placerat, in interdum lectus bibendum. Fusce
    fermentum erat sit amet ex dignissim venenatis.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
    venenatis sem sit amet urna placerat, in interdum lectus bibendum. Fusce
    fermentum erat sit amet ex dignissim venenatis.
  </p>
</div> -->
