<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">

<!-- <p> -----------------------        {{ 'title' | translate }}</p> -->
<div class="progress-bar-container" id="progress-bar-cont">
  <label for="progress-bar" id="progress-bar"  value = "0" max = "100">Loading...</label>
  <progress></progress>
</div>

<button id="rightButton" class="floating-btn right-btn" (click)="objClicked(99)">
  <img class="svg-btn-img" fill="white" viewBox="0 0 24 24" src="assets/mySVGs/address-card.svg" alt="">
</button>

<button id="contactButton" class="floating-btn right-btn-two" (click)="objClickedContact()">
    <img class="svg-btn-img" fill="white" viewBox="0 0 24 24" src="assets/mySVGs/phone.svg" alt="">
</button>

<button id="infoButton" class="floating-btn right-btn-inf" (click)="infoPage()">
  <img class="svg-btn-img" fill="white" viewBox="0 0 24 24" src="assets/mySVGs/code.svg" alt="">
</button>

<div id="three-container" #threeContainer></div>

<!-- <app-floating-card></app-floating-card> -->
<app-main-card></app-main-card>
<app-contact></app-contact>
<app-info></app-info>
<app-floating-card></app-floating-card>
