.floating-btn {
  position: fixed;
  width: 8.33%; /* 1/12 de la pantalla */
  height: 100px;
  font-size: 1.5em;
  color: white;
  border: none;
  border-radius: 8px;
  z-index: 1;
  transition: width 0.3s ease, height 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

}


#three-container {
  width: 100%;
  height: 100%;
}

:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.right-btn {
  top: 10%;
  right: 15px; /* Margen derecho de 15px */
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3); /* Fondo negro transparente al 70% */
}

.right-btn-two {
  top: 20%;
  right: 15px; /* Margen derecho de 15px */
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3); /* Fondo negro transparente al 70% */
}

.progress-bar-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#progress-bar{
  width: 30%;
  margin-top: 0.5%;
  height: 20%;
}

label{
  color: white;
  font-size: 2rem;
}

.svg-btn-img {
  width: 24px;
  height: 24px;
  filter: invert(1) brightness(2);
}
