<div class="progress-bar-container" id="progress-bar-cont">
  <label for="progress-bar" id="progress-bar"  value = "0" max = "100">Loading...</label>
  <progress></progress>
</div>

<div id="three-container" #threeContainer></div>


<div class="row">
  <div class="col-3 d-flex flex-column align-items-end">
    <!-- Botón principal -->
    <button id="nextStepButton" class="floating-btn" (click)="nextStep()">{{ 'menu3dScene.mainTitle' | translate }}</button>

    <!-- Lista desplegable 1 -->
    <div id="dropdownList1" [ngClass]="{ 'active': isDropdownMainVisible }" class="dropdown-list">
      <button class="dropdown-item" (click)="section01()">{{ 'menu3dScene.subDiv01' | translate }}</button>
      <button class="dropdown-item" (click)="section02()">{{ 'menu3dScene.subDiv02' | translate }}</button>
      <button class="dropdown-item" (click)="section03()">{{ 'menu3dScene.subDiv03' | translate }}</button>
      <button class="dropdown-item" (click)="section04()">{{ 'menu3dScene.subDiv04' | translate }}</button>
      <button class="dropdown-item" (click)="section05()">{{ 'menu3dScene.subDiv05' | translate }}</button>
    </div>

    <!-- Dropdown anidado dentro de Componente 1 -->
    <div id="dropdownList1a" [ngClass]="{ 'active': isDropdown1Visible }" class="dropdown-list nested-dropdown">
      <button class="dropdown-item" (click)="actionComponent1(1)">Componente 1a</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 2a</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 3a</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 4a</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 5a</button>
    </div>

    <!-- Dropdown anidado dentro de Componente 1 -->
    <div id="dropdownList1a" [ngClass]="{ 'active': isDropdown2Visible }" class="dropdown-list nested-dropdown">
      <button class="dropdown-item" (click)="actionComponent1(1)">Componente 1b</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 2b</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 3b</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 4b</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 5b</button>
    </div>

    <!-- Dropdown anidado dentro de Componente 1 -->
    <div id="dropdownList1a" [ngClass]="{ 'active': isDropdown3Visible }" class="dropdown-list nested-dropdown">
      <button class="dropdown-item" (click)="actionComponent1(1)">Componente 1c</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 2c</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 3c</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 4c</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 5c</button>
    </div>

    <!-- Dropdown anidado dentro de Componente 1 -->
    <div id="dropdownList1a" [ngClass]="{ 'active': isDropdown4Visible }" class="dropdown-list nested-dropdown">
      <button class="dropdown-item" (click)="actionComponent1(1)">Componente 1d</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 2d</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 3d</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 4d</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 5d</button>
    </div>

    <!-- Dropdown anidado dentro de Componente 1 -->
    <div id="dropdownList1a" [ngClass]="{ 'active': isDropdown5Visible }" class="dropdown-list nested-dropdown">
      <button class="dropdown-item" (click)="actionComponent1(1)">Componente 1e</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 2e</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 3e</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 4e</button>
      <button class="dropdown-item" (click)="actionComponent1(2)">Componente 5e</button>
    </div>

  </div>
</div>



<app-floating-card></app-floating-card>
