<div class="progress-bar-container" id="progress-bar-cont">
  <label for="progress-bar" id="progress-bar"  value = "0" max = "100">Loading...</label>
  <progress></progress>
</div>

<div id="three-container" #threeContainer></div>


<div class="row">
  <div class="col-3 d-flex flex-column align-items-end">
    <!-- Botón principal -->
    <button id="nextStepButton" class="floating-btn-menu" (click)="nextStep()">{{ 'menu3dScene.mainTitle' | translate }}</button>

    <button id="leftButton" class="floating-btn left-btn" (click)="updateFocus(false)"><</button>
    <button id="rightButton" class="floating-btn right-btn" (click)="updateFocus(true)">></button>


    <!-- Lista desplegable 1 -->
    <div id="dropdownList1" [ngClass]="{ 'active': isDropdownMainVisible }" class="dropdown-list">
      <button class="dropdown-item" (click)="section01()">{{ 'menu3dScene.subDiv01' | translate }}</button>
      <button class="dropdown-item" (click)="section02()">{{ 'menu3dScene.subDiv02' | translate }}</button>
      <button class="dropdown-item" (click)="section03()">{{ 'menu3dScene.subDiv03' | translate }}</button>
      <button class="dropdown-item" (click)="section04()">{{ 'menu3dScene.subDiv04' | translate }}</button>
      <!-- <button class="dropdown-item" (click)="section05()">{{ 'menu3dScene.subDiv05' | translate }}</button> -->
    </div>

    <!-- Dropdown anidado dentro de Componente 1 -->
    <div id="dropdownList1a" [ngClass]="{ 'active': isDropdown1Visible }" class="dropdown-list nested-dropdown">
      <button class="dropdown-item" (click)="actionComponent1(6)">{{ 'FullStackExp.mainTitle' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(7)">{{ 'FullStackExp.subDiv01' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(8)">{{ 'FullStackExp.subDiv02' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(9)">{{ 'FullStackExp.subDiv03' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(10)">{{ 'FullStackExp.subDiv04' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(11)">{{ 'FullStackExp.subDiv05' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(12)">{{ 'FullStackExp.subDiv06' | translate }}</button>
    </div>

    <!-- Dropdown anidado dentro de Componente 1 -->
    <div id="dropdownList1a" [ngClass]="{ 'active': isDropdown2Visible }" class="dropdown-list nested-dropdown">
      <button class="dropdown-item" (click)="actionComponent1(2)">{{ 'SchoolEd.mainTitle' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(3)">{{ 'SchoolEd.subDiv01' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(4)">{{ 'SchoolEd.subDiv02' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(5)">{{ 'SchoolEd.subDiv03' | translate }}</button>
    </div>

    <!-- Dropdown anidado dentro de Componente 1 -->
    <div id="dropdownList1a" [ngClass]="{ 'active': isDropdown3Visible }" class="dropdown-list nested-dropdown">
      <button class="dropdown-item" (click)="actionComponent1(13)">{{ 'PersonalP.mainTitle' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(14)">{{ 'PersonalP.subDiv01' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(15)">{{ 'PersonalP.subDiv02' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(16)">{{ 'PersonalP.subDiv03' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(17)">{{ 'PersonalP.subDiv04' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(18)">{{ 'PersonalP.subDiv05' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(19)">{{ 'PersonalP.subDiv06' | translate }}</button>
    </div>

    <!-- Dropdown anidado dentro de Componente 1 -->
    <div id="dropdownList1a" [ngClass]="{ 'active': isDropdown4Visible }" class="dropdown-list nested-dropdown">
      <button class="dropdown-item" (click)="actionComponent1(20)">{{ 'cursos0.mainTitle' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(21)">{{ 'cursos0.subDiv01' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(22)">{{ 'cursos0.subDiv02' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(23)">{{ 'cursos0.subDiv03' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(24)">{{ 'cursos0.subDiv04' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(25)">{{ 'cursos0.subDiv05' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(26)">{{ 'cursos0.subDiv06' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(27)">{{ 'cursos0.subDiv07' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(28)">{{ 'cursos0.subDiv08' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(29)">{{ 'cursos0.subDiv09' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(0)">{{ 'cursos0.subDiv10' | translate }}</button>
      <button class="dropdown-item" (click)="actionComponent1(1)">{{ 'cursos0.subDiv11' | translate }}</button>
    </div>


  </div>
</div>



<app-floating-card (visibilityChange)="handleVisibilityChange($event)"></app-floating-card>
