<p>info works!</p>
<div class="content">
  <div class="" *ngIf="isVisible">
    <div class="floating-card ">

      <div class="row justify-content-between">
        <div class="col-5 col-md-5">
          <!-- alinear a la izq -->
           <div class="d-flex">
             <button class="btn header-btn" (click)="changetoSp()">
              <img class="header-btn-img" src="assets/mySVGs/spain-flag.svg" alt="">
            </button>
            <!-- alinear a la izq -->
            <button class="btn header-btn" (click)="changetoEn()">
               <img class="header-btn-img" src="assets/mySVGs/uk-flag.svg" alt="">
              </button>
            </div>
          </div>

          <!-- alinear a la derecha -->
          <div class="col-7 col-md-7 d-flex justify-content-start">
            <button class="btn btn-secondary ml-auto header-btn" (click)="close()">
              <img class="close-btn-img" src="assets/mySVGs/circle-xmark.svg" alt="">
            </button>
          </div>
      </div>

      <div class="mainDiv">
        <div class="profile-card card">

          <div class="col-12 col-md-4 profile-image">
            <img src="assets/imgObj/prof.png" alt="Foto de perfil">
          </div>

          <div class="col-12 col-md-8 profile-info">
            <h2>{{ getTranslationKey('title')  | translate }}</h2>
            <p>{{ getTranslationKey('secProf')  | translate }} <span>{{ getTranslationKey('prof')  | translate }}</span> / <span>{{ getTranslationKey('prof01')  | translate }}</span></p>
          </div>
          <br>

          <div *ngIf="getTranslationKey('title')">
            <div class="row card">
              <div class="col d-flex align-items-center">
                <img src="assets/mySVGs/wrench.svg" alt="" class="icon-img">
                <h2>{{ getTranslationKey('title')  | translate }}</h2>
              </div>
            </div>
          </div>

          <div *ngIf="getTranslationKey('techTitle')">
            <div class="row card subtitle-card">
              <div class="col d-flex align-items-center">
                <img src="assets/mySVGs/cube.svg" alt="" class="icon-img">
                <h3>{{ getTranslationKey('techTitle')  | translate }}</h3>
              </div>
              <div *ngFor="let tech of (getTranslationKey('techtack') | translate)">
                <p>{{ tech }}</p>
              </div>
            </div>
          </div>

          <!-- Row 2: SVG Cards with horizontal scroll -->
          <div *ngIf="getTranslationKey('tech')">
            <div class="card">
              <div class="svg-scroll-wrapper">
                <div class="svg-container">
                  <div class="svg-card">
                    <div *ngFor="let tech of (getTranslationKey('tech') | translate)">
                      <img [src]="tech" alt="Tech Image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>




    </div>
  </div>
</div>
